@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'playfair Display';
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
    border-bottom: transparent solid 3px;
}

.menu li:hover {
    border-bottom: red solid 3px;
}

.menu a {
    color: #729e1a;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.botao-entrar {
    background-color: #99cd31;
    border: 0;
    padding: 10px 20px;
    font-weight: 800;
    font-size: 16px;
    color: white;
}