@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'playfair Display';
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline;
    margin: 0 5px;
    border-bottom: transparent solid 3px;
}

.menu li:hover {
    border-bottom: red solid 3px;
}

.menu a {
    color: #729e1a;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.botao-entrar {
    background-color: #99cd31;
    border: 0;
    padding: 10px 20px;
    font-weight: 800;
    font-size: 16px;
    color: white;
}

.topo {
    background-image: url('../img/MicrosoftTeams-image.png');
    background-size: cover;
}



.banner {
    margin: 100px;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-titulo {
    text-align: center;
    font-size: 60px;
    color: white;
    font-weight: 100;
}

.banner-subtitulo {
    color: white;
    font-weight: 100;
    text-align: center;
    margin-top: 20px;
}

.banner-texto {
    color: white;
    margin-top: 20px;
    font-weight: 100;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 40px;
}

.banner-botao {
    background-color: #99cd31;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 0;
    padding: 20px 50px;
    display: block;
    margin: 0 auto;
}


.pessoa img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.personalidades {
    text-align: center;
    margin: 100px 0;
}

.personalidades-titulo {
    font-size: 40px;
    color: #99cd31;
    margin-bottom: 50px;
}

.personalidades-fotos {
    display: flex;
    justify-content: space-around;
}

.planos {
    background-color: rgb(26, 26, 26);
    margin: 100px 0;
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
}

.cartao {
    width: 300px;
    background-color: #99cd31;
    padding: 50px;
    color: white;
}

.cartao-titulo {
    font-size: 35px;
    text-align: center;
    text-shadow: rgb(26, 26, 26) 1px 1px;
    font-weight: 200;
    border-bottom: 1px solid rgb(26, 26, 26);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.cartao-texto {
    color: rgb(26, 26, 26);
    font-weight: 200;
    font-size: 16px;
    text-align: center;
}

.cartao-botao {
    display: block;
    text-align: center;
    margin: 30px auto 0;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    background-color: rgb(26, 26, 26);
    color: #99cd31;
    padding: 20px;
}

.vantagens {
    margin: 100px 0;
    padding: 0 100px;
}


.vantagens-tabela {
    border: #729e1a 3px solid;
    border-collapse: collapse;
    padding: 5px;
}

.vantagens-tabela th {
    padding: 10px;
    background-color: #729e1a;
    color: white;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

.vantagens-tabela td {
    padding: 5px;
    border: 3px solid #729e1a;
    color: rgb(26, 26, 26);
}

.rodape-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.rodape-secundario {
    text-align: center;
    background: rgb(26, 26, 26);
    color: #99cd31;
    padding: 20px;
    letter-spacing: 2px;
}

.rodape {
    border-top: #729e1a solid 5px;
}









